@import '../variables';

.categories {
	ul {
		display: flex;
		li {
			background-color: #f9f9f9;
			padding: 13px 30px;
			border-radius: 20px;
			margin-right: 10px;
			font-weight: bold;
			cursor: pointer;
			transition: background-color 2s all;
			@include noselect();

			&:hover {
				transition: 1s all;
				box-shadow:inset 200px 100px 100px 100px $orange;
				color: white;
			}

			&:active {
				background-color: darken(#f9f9f9, 5%);
			}

			&.active {
				background-color: #282828;
				color: #fff;
			}
		}
	}
}
