@import '../variables';

.header {
	border-bottom: 1px solid $gray-line;
	padding: 40px 0;

	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.logo__text {
			transition: all 0.3s ease-in-out;

			&:hover {
				transform: scale(1.03);
			}
		}

		@media (max-width: 645px) {
			flex-direction: column;
			margin: 0 auto;

			.header__cart {
				margin-top: 20px;
			}
		}
	}

	&__logo {
		display: flex;

		h1 {
			color: #181818;
			font-size: 30px;
			letter-spacing: 1%;
			text-transform: uppercase;
			font-weight: 800;
		}

		p {
			color: #7b7b7b;
		}

		@media (max-width: '645px') {
			text-align: center;
		}

		img {
			margin-right: 15px;
			transition: transform 1s ease-in-out;

			&:hover {
				transform: rotate(360deg);
			}
		}
	}
}
